.App {
  text-align: center;
}
body {
  background-color: #2B2B2B;
  font-family: 'Space Mono', monospace;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.top-craetors-card{
  background: #3B3B3B;
  border-radius: 20px;
  color: white;
  transition: all 0.3s ease;
  position: relative;
}
.top-craetors-card:hover {
  transform: scale(0.9) rotate(0.01deg);
}
 .top-creators {align-items: center;
  background-color: var(--background---secondary);
  border: 1px none;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 20px;
  pointer-events: auto;
  color: white;
 }

.top-creators-img{
  background-color: transparent;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.top-creators-div{
  width: 60vw;
  align-items: center;
  justify-content: center;
    background-color: transparent;
    border: 1px none;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 30px;
    margin: auto;
    height: auto;
}
.font-link {
  font-family: 'Space Mono', monospace;
}