.login-page {
    color: aliceblue;
}
.login-page-content{
    padding: 15px 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
}
                                             
@media screen and (min-width: 1240px) {
    .login-page {
        display: flex;
    }
    .login-page-image {
        width: 50%;                                               
    }
    .login-page-content {
        padding: 15px 100px;
        width: 50%;
        display: flex;
        flex-direction: column;
    }
}