.login-page {
  color: aliceblue;
}
.login-page-content {
  padding: 15px 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

@media screen and (min-width: 640px) {
  .login-page {
    display: flex;
  }
  .login-page-image {
    width: 55%;
  }
  .connect-wallet-page-image {
    width: 100%;
  }
  .login-page-content {
    padding: 15px 100px;
    width: 50%;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 1240px) {
  .login-page-content {
    padding: 15px 100px;
    width: 50%;
    display: flex;
    margin: auto;
    flex-direction: column;
  }
}

.login-page-inputBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 10px;
  gap: 12px;
  width: 330px;
  height: 36px;
  background: #ffffff;
  border: 1px solid #858584;
  border-radius: 20px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin-bottom: 20px;
}
.login-page-inputBox > input {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  width: 90%;
}
.login-page-create-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
  gap: 12px;
  width: 355px;
  height: 46px;
  background: #a259ff;
  border-radius: 20px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  cursor: pointer;
}
.login-page-create-button > span {
  width: 121px;
  height: 22px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.connect-wallet-content {
  padding: 15px 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-left: 50px;
}
.connect-wallet-page-inputBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 20px 0px 40px;
  gap: 20px;
  width: 320px;
  height: 72px;
  background: #3b3b3b;
  border: 1px solid #a259ff;
  border-radius: 20px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-bottom: 20px;
}
@media screen and (max-width: 1240px) {
  .connect-wallet-content {
    padding: 15px 100px;
    width: 50%;
    display: flex;
    margin: auto;
    flex-direction: column;
  }
}
.login-page-icon {
  color: #858584;
  font-size: 22px;
}
